{% block content %}

	

<!-- Testimonials -->
	<section id="testimonials" class="row">
		<div class="module mid" style="background-image: url('public/img/testimonial.jpg');">
		  <h2>“Wakefield Beasley isn’t the kind of firm you use for one project and move on…You partner again with them on the next, and the next, and the next.”</h2>
		</div>
	</section>

	<footer class="row">
		<img src="{{ "wba-logo-footer.png" | asset_url }}" class="footer-logo">
		<h1 class="text-uppercase">architects for the real world</h1>
		
		<!-- Footer Links -->
		<div class="container">
			<hr>
			<img src="{{ "footer-links.png" | asset_url }}" class="footer-logo img-responsive">	
		</div>

	</footer>

{% endblock %}